<ion-header>
  <ion-toolbar>
    <ion-title style="position: centre;">
      Bank Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
     
    
      <ion-item>
        
        <ion-select  placeholder="Select Area">
          <ion-select-option value="b">BANGALORE</ion-select-option>
          <ion-select-option value="m">MUMBAI</ion-select-option>
          <ion-select-option value="c">CHENNAI</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>    
  </div>
</ion-content>
