<ion-header>
  <ion-toolbar>
    <ion-title style="position: centre;">
      Bank Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
     
    
      <ion-item>
        
        <ion-select placeholder="Select Bank Location" [(ngModel)]="place" (ionChange)="Retrievedata();" >
          <ion-select-option value="BANGALORE">Bangalore</ion-select-option>
          <ion-select-option value="MUMBAI">Mumbai</ion-select-option>
          <ion-select-option value="CHENNAI">Chennai</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <br>
    <br>
    <ion-card>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
     </ion-toolbar>   
  </div>
</ion-content>
